// imports
@import "./utilities";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #444;
}

// navbar
#navbar {
  @include flex(space-between, row);

  .logo {
    font-family: 'Noto Serif', serif;
    padding: 1rem;
    font-weight: normal;
    opacity: 0.8;
    color: #a13678
  }
}

// showcase 
.showcase {
  text-align: center;
  margin-top: 6rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  p {
    font-family: 'Noto Serif', serif;
    opacity: 0.8;
  }
}

// upload form
.upload-form {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

// progress bar
.progress-bar {
  height: 5px;
  background: #800080;
}

// images container
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem auto;
}

// images wrap
.img-wrap {
  overflow: hidden;
  padding: 50% 0;
  position: relative;
  opacity: 0.9;
  height: 0;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}
